<!DOCTYPE html>
<html lang="">
  <head>
    <script src="vue.js" , type="text/javascript" , charset="utf-8"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="d.text1" />
      <input type="text" v-model="d.text2" />
      <p></p>
      <button @click="submitting($event)">submit</button>
      <p>{{a}}</p>
      <p>{{b}}</p>
      <div v-bind:style="c">ddd</div>
      <div @click="parentClick">
        <p v-if="seen" @click.stop="click">see me</p>
        <p>{{d.text1}}</p>
        <p>{{d.text2}}</p>
      </div>
    </div>
    <script>
      const sData = {
        a: 1,
        b: "<span style='color:red'>this is a span</span>",
        c: "color:red",
        seen: true,
        d: {
          text1: "",
          text2: ""
        }
      };
      //const data =  http://localhost:4004/ship/ShipModelEntity;
      const vm = new Vue({
        el: "#app",
        data: sData,
        methods: {
          click: () => {
            console.log("clicked");
          },
          parentClick: () => {
            console.log("parent click");
          },
          submitting(e) {
            console.log(this.d.text1);
            console.log(this.d.text2);
            console.log(e);
          }
        }
      });
      vm.$watch("a", (newVal, oldVal) => {
        console.log(newVal + "...." + oldVal);
      });
      vm.a = "test";
    </script>
  </body>
</html>
